body{
    background-image:  url(2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 750px;
}

.simple-form{
    text-align: center;
    margin: 100px 400px;
}
#registeration{
    align-items: center;
    width: 70%;
    height: 450;
    background-color: #051019;
    opacity: 0.789;
    padding: 37px 0px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
}
#textField{
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    
}
#ctry{
    outline: 250px;
    width: 250px;
    height: 33;
    padding: 10px;
    border-radius: 5px;
}
#sts{
    height: 33;
    width: 250px;
    padding: 10px;
    border-radius: 5px; 
}
#btn{
    height: 33;
    width: 100;
    border-radius: 5px;
}